/* CartPage.module.css */
.cartContainer {
    padding: 20px;
  }
  
  .cartItemBox {
    border-color: #D53F8C; /* pink.900 */
    border-width: 2px;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
  }
  
  .cartItemFlex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .cartItemImage {
    flex: 0 0 100px;
    margin-right: 16px;
  }
  
  .cartItemDetails {
    flex: 3;
    margin-left: 16px;
  }
  
  .cartItemQuantity {
    flex: 1;
    margin-left: 16px;
    margin-top: 8px;
  }
  
  .cartItemSubtotal {
    flex: 1;
    margin-left: 16px;
    margin-top: 8px;
    font-weight: bold;
    color: #ED64A6; /* pink.500 */
  }
  
  .cartTotalsContainer {
    flex: 1;
    margin-left: 16px;
    margin-top: 16px;
    border: 1px solid;
    border-color: #ED64A6; /* pink.500 */
    padding: 16px;
  }
  
  .cartTotalsHeading {
    font-size: 1.25rem;
    margin-bottom: 16px;
    background-color: #ED64A6; /* pink.500 */
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
  }
  